.chat-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  overflow-y: hidden;
  align-items: center;
  padding: 20px 50px;
}

.chat-area {
  width: 100%;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 95vh;
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 20px 20px;
  gap: 10px;
  min-width: 600px;
}

.message {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  max-width: 100%;
}

.message {
  max-width: 85%;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.5;
  word-break: break-word;
}

.user-message {
  align-self: flex-end;
  background-color: #15A9BB;
  color: #FAFAFA;
}

.ai-message {
  align-self: flex-start;
  background-color: #f0f0f0; 
  color: #000;
}

.chats-conversations {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

@keyframes typingBlink {
  0% { opacity: 0.3; }
  100% { opacity: 1; }
}

.typing-indicator {
  color: #999;
  margin-left: 5px;
}

.chat-form {
  display: flex;
  align-items: flex-end;
  margin-top: 20px;
  gap: 20px;
}

.pre-chat-config {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-chat-btn, .end-chat-btn, .go-back-btn {
  background-color: #15A9BB;
  border: none;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  color: white;
  border-radius: 10px;
  font-size: 15px;
  max-width: 250px;
  cursor: pointer;
  transition: all ease-in-out 300ms;
}

.end-chat-btn {
  margin-top: 20px;
}

.start-chat-btn:hover {
  background-color: #21B8D2;
}

.toggles-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.toggle-container {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin-top: 20px;
}

.toggle-label {
  font-weight: bold;
}

.toggle-switch {
  width: 40px;
  height: 20px;
  border-radius: 20px;
  background-color: #e0e0e0;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 0;
}

.toggle-switch.active {
  background-color: #66bb6a; /* Color cuando está activado */
}

.toggle-knob {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 1px;
  left: 1px;
  transition: transform 0.3s;
}

.toggle-switch.active .toggle-knob {
  transform: translateX(20px); /* Mueve el knob cuando está activo */
}

.post-chat-container {
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat-messages-not-saved {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}