.chat-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }
  
  .logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
  }

  .logo-container p {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }
  
  .message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    max-width: 100%;
  }

  .message {
    max-width: 85%;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 1.5;
    word-break: break-word;
  }
  
  .user-message {
    align-self: flex-end;
    background-color: #00986A;
    color: #FAFAFA;
  }
  
  .ai-message {
    align-self: flex-start;
    background-color: #f0f0f0; 
    color: #000;
  }
  
  @keyframes typingBlink {
    0% { opacity: 0.3; }
    100% { opacity: 1; }
  }
  
  
  .typing-indicator {
    color: #999;
    margin-left: 5px;
  }
  
  .chat-form {
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
    gap: 20px;
  }

  .chat-form button {
    padding: 15px 20px;
    background-color: #00986A;
    color: #FAFAFA;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }

  .chat-form button:hover {
    background-color: #00b37d;
  }
  
  textarea {
    width: 100%;
    height: 100px;
    resize: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  textarea:focus {
    border-color: #4a90e2;
  }
  
  .send-button {
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .send-button:hover {
    background-color: #357ab8;
  }